li {
	font-size: 40px;
	line-height: 1.4;
	margin-left: 100%;
}

li:nth-child(2) {
	filter: hue-rotate(60deg);
}
li:nth-child(3) {
	filter: hue-rotate(180deg);
}
li:nth-child(4) {
	filter: hue-rotate(240deg);
}

ul {
	list-style: none;
	padding: 0;
	margin-right: 60px;
	position: relative;
	background-color: lightgreen;
}

ul::before,
ul::after {
	position: absolute;
	transform: rotate(-90deg);
	width: 280px;
	text-align: center;
	font-weight: bold;
	top: 125px;
	letter-spacing: 5px;
	font-size: 24px;
}

ul::before {
	content: 'START';
	right: -100px;
	border-top: 2px solid red;
}

ul::after {
	content: 'FINISH';
	left: -50px;
	border-bottom: 2px solid red;
}
